# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.cpython-*

# Distribuição / arquivos de build
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Arquivos de log e banco de dados
*.log
*.sql
*.sqlite3

# Diretórios virtuais do ambiente
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs / editores
.vscode/
.idea/
*.swp
*.swo
*.swn
